#calculator {
    display: grid;
    box-shadow: 0 0 10px rgb(14, 9, 9);
    width: fit-content;
}

#screen {
    display: grid;
    width: 560px;
    height: 200px;
    border: 2px solid;
}

#screen div {
    text-align: right;
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: 95% 5%;
}

#operation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid;
    width: 560px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid;
    width: 560px;
    height: 600px;
}

#buttons button,
#operation button {
    font-size: xx-large;
    border: 1px solid;
}